
header {
    align-content: left;
}

nav {
    text-align: right;
}

/* Layout Container */
.section-wrapper {
    width: 70%;
    margin: 0 auto;
}



.welcome-banner {
    text-align: center;
    background-color: lightblue;
    padding: 18% 24%;
}

.main-section-title {
    text-align: center;
    font-size: 30px;
    padding: 5%;
    border: 10px solid black;
    margin: auto;
}

.content-box {
    text-align: center;
    background-color: lightgrey;
    padding: 10%;
    border: 5px solid white;
    margin: 30px auto;
}

/* Bottom action button*/
.action {
    text-align: center;
    font-size: 20px;
    background-color: #3FBAEF;
    padding: 0.5%;

}

.copyright-footer {
    font-size: small;
    padding: 1%;
    margin:30px;

}
