
/* ----------- Universal */
* {
    font-family: Helvetica;

}

/* ----------- Welcome Banner */
.welcome-banner {
    text-align: center;
    background-color: lightblue;
    padding: 18% 24%;
    margin: 0 auto;

}


/* ----------- Section Content Box */
.section-title {
    text-align: center;

}

.section-container {
    box-sizing: border-box
}

.col {
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    border: 0.1em solid black;
    margin-top: 1em;
    width: 100%;

}




/* ----------- Media Query */

/* Request 4: Layout when screen width < 500px */
@media screen and (max-width: 499px) {
    .col {
        width: 100%;
    }

    .welcome-banner {
        color: lightgreen;
    }

}


/*Request 3: Layout when screen width > 500px and < 800px*/
@media screen and (min-width: 500px) and (max-width: 800px) {
    .col {
        width:50%;
        margin-right: -40px;
    }

    .welcome-banner {
        color: yellow;
    }

}



/*Request 2: Layout when screen width > 800px and < 1200px*/
@media screen and (min-width: 801px) and (max-width: 1200px) {
    

    .col {
        width:50%;
        margin-right: -40px;
    }

    .welcome-banner {
        color: purple;
    }

}





/*Request 1: Layout when screen width > 1200px*/
@media screen and (min-width: 1201px) {
    
    .section-container {
    box-sizing: border-box
    width: 1200px;
}

    .col {
        width:50%;
        margin-right: -10px;
    }

    .welcome-banner {
        color: red;
    }
}




