
/* ----------- Universal */
* {
    font-family: Helvetica;

}


/* ----------- Nav Menu */
header {
    position: absolute;
    top:0;
    left:0;
    padding: 0 100px;
    background: darkgrey;
    width:100%;
    box-sizing: border-box;
}

header .logo {
    color: black;
    height:50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding:0;
    display: flex;
}


header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding:0 20px;
    color: #fff; 
    text-decoration: none;  
}








/* ----------- Welcome Banner */
.welcome-banner {
    text-align: center;
    background-color: lightblue;
    padding: 18% 24%;
    margin: 0 auto;

}


/* ----------- Section Content Box */
.section-title {
    text-align: center;

}

.section-container {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding: 1em;
}

.col {
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    border: 0.2em solid white;
    margin-top: 1em;
    width: 100%;

}




/* ----------- Media Query */

/* Request 4: Layout when screen width < 500px */
@media screen and (max-width: 499px) {
    .col {
        width: 100%;
    }

    .welcome-banner {
        color: lightgreen;
    }

}


/*Request 3: Layout when screen width > 500px and < 800px*/
@media screen and (min-width: 500px) and (max-width: 800px) {
    .col {
        width:50%;
        margin-right: -40px;
    }

    .welcome-banner {
        color: yellow;
    }

}



/*Request 2: Layout when screen width > 800px and < 1200px*/
@media screen and (min-width: 801px) and (max-width: 1200px) {
    
    .col {
        width:50%;
        margin-right: -40px;
    }

    .welcome-banner {
        color: purple;
    }

}





/*Request 1: Layout when screen width > 1200px*/
@media screen and (min-width: 1201px) {

    .section-container {
        width: 1200px;
}

    .col {
        width:50%;
        margin-right: -10px;
    }

    .welcome-banner {
        color: red;
    }
}




