extends layout.pug

block content
    h1 Welcome human being!
    if name
        h2 Your name is #{name}
    else
        form(action='/trackName', method='POST')
            label(for='使用者的輸入​') What is your name?
                input(type='text', placeholder='Enter Name', name='username')
            button(type='submit') Submit
