extends layout.pug

block content
    h1 Welcome human being!
    form(action='/trackName?name=使用者的輸入​', method='POST')
        label What is your name?
            input(
                type='text', 
                placeholder='Enter Name', 
                name='username'
                )
        button(type='submit') Submit