/* Universal settings for .App */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;

  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* _______________________________________________________ */

.logo {
  float: left;
  height:50px;
  line-height: 3em;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  margin: auto;
  vertical-align: middle;
  color: #0D0D0D;
}

nav {
  position: fixed;
  width: 50vw;
  right: 0;
  height: 100vh;
  background: #333;
  transition: 0.5s;
  display: none;
}

nav ul li {
  display: block;
  text-decoration: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 3em;
  padding:0 20px;
  color: #fff;
  transition: all 0.3s ease-out;
}

nav ul li a:hover,
nav ul li a:hover
{
    color: #262626;
}

.fa-ellipsis-h {
  float: right;
  line-height: 3em;
  padding:0.75em;
  /* vertical-align: middle;
  margin: auto; */
}

.fa-times {
  float: right;
  padding: 1em;
}

.fas:hover {
  color: #BFBFBF;
}


/* ----------- Welcome Banner */
.welcome-banner {
  text-align: center;
  background-color: lightblue;
  line-height: 40vh;
  display: block;
  color: white;
  font-size: 2em;
}

/* ----------- Section Content Box */
.section-title {
  text-align: center;

}

.section-container {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  padding: 1em;
}

.col {
  display: inline-block;
  background-color: lightgrey;
  text-align: center;
  border: 0.2em solid white;
  margin-top: 1em;
  width: 100%;
}

/* ----------- Call to Action button */
div button {
  cursor: pointer;
  text-align: center;
  display: block;
  margin: auto;
  padding: 1em;

}

/* ----------- Hide Button Collapsible Content Boxes */
.section-show {
  display: none
}

/* ----------- Media Query */

/*Request 3: Layout when screen width > 500px and < 800px*/
@media screen and (min-width: 500px) and (max-width: 800px) {
    
  /*Content Boxes in 2-columns layout.*/
  .col {
    width:50%;
    margin-right: -20px;
  }
  .section-container:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /* Increase font size for display*/
.logo,
  .fa-ellipsis-h {
    font-size: 1.25em;
  }


  .welcome-banner {
    color: yellow;
    font-weight:bold;

  }

}



/*Request 2: Layout when screen width > 800px and < 1200px*/
@media screen and (min-width: 801px) and (max-width: 1200px) {
  
  /*Content Boxes in 2-columns layout.*/
  .col {
    width:50%;
    margin-right: -20px;
  }
  /* Shows nav menu in words*/
 nav {
    display: contents;
    padding-right: 1.5em;
  }

nav ul {
    display: flex;
    float:right;
    list-style: none;
  }

nav ul li a {
    height: 50px;
    line-height: 3em;
    padding:0 20px;
    color: #fff; 
    text-decoration: none;  
  }


  /* Increase font size for larger display*/
  .logo,
  nav ul li a {
    font-size: 1em;
  }

  /* Hover option for nav menu */
  nav ul li a:hover
  {
    color: #262626;
  }

  /* Hides nav menu icon*/
  .fas {
    visibility: hidden;
  }
  
  .welcome-banner {
    color: purple;
    font-size: 4em;
  }

}

/*Request 1: Layout when screen width > 1200px*/
@media screen and (min-width: 1201px) {
  
  /*Total width of content boxes should be fixed in 1200px.*/
  .section-container {
    width: 1200px;
  }
  /*Content Boxes in 2-columns layout.*/
  .col {
    width:50%;
    margin-right: -20px;
  }
  
  /* Shows nav menu in words*/

  nav {
    display: contents;
    padding-right: 1.5em;
  }

  nav ul {
    display: flex;
    float:right;
    list-style: none;
  }

  nav ul li a {
    height: 50px;
    line-height: 3em;
    padding:0 20px;
    color: #fff; 
    text-decoration: none;  
  }


  /* Increase font size for larger display*/
  .logo,
  nav ul li a {
    font-size: 1.5em;
  }

  /* Hover option for nav menu */
  nav ul li a:hover
  {
    color: #262626;
  }

  /* Hides nav menu icon*/
  .fas {
    visibility: hidden;
  }
  
  .welcome-banner {
    color: red;
    font-size: 5em;
  }

}
