/* Universal settings for .App */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;

  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* _______________________________________________________ */



.logo {
  float: left;
  height:50px;
  line-height: 3em;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  margin: auto;
  vertical-align: middle;
  color: #0D0D0D;
}

nav {
  position: fixed;
  width: 50vw;
  right: 0;
  height: 100vh;
  background: #333;
  transition: 0.5s;
  display: none;
}

.fa-ellipsis-h {
  float: right;
  line-height: 3em;
  padding:0.75em;
  /* vertical-align: middle;
  margin: auto; */
}








/* ----------- Welcome Banner */
.welcome-banner {
  text-align: center;
  background-color: lightblue;
  line-height: 40vh;
  display: block;
  color: white;
  font-size: 3em;
}





/* ----------- Section Content Box */
.section-title {
  text-align: center;

}

.section-container {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  padding: 1em;
}

.col {
  display: inline-block;
  background-color: lightgrey;
  text-align: center;
  border: 0.2em solid white;
  margin-top: 1em;
  width: 100%;
}

